<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <LevelPatternSelector>
                    <PatternMatch key="TRACE" pattern="%highlight{%-5p| %m [%c.java:%L]%n}"/>
                    <PatternMatch key="DEBUG" pattern="%highlight{%-5p| %m [%c.java:%L]%n}"/>
                    <PatternMatch key="INFO" pattern="%-5p| %m%n"/>
                    <PatternMatch key="WARN" pattern="%highlight{%-5p| %m%n}"/>
                    <PatternMatch key="ERROR" pattern="%highlight{%-5p| %m%n}"/>
                    <PatternMatch key="FATAL" pattern="%highlight{%-5p| %m%n}"/>
                </LevelPatternSelector>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>